@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding-inline-start: 0;
}

body {
  font-family: Poppins, sans-serif;
  width: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 10px;
  width: 100%;
  height: 100vh;
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

ul {
  list-style: none;
}

.navbar ul {
  width: 375px;
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  align-content: space-between;
}

.nav-logo {
  position: static;
  width: 76px;
  height: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  display: flex;
  text-align: left;
  order: 0;
  flex: 3;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

.menu-options {
  display: none;
}

.greet-section {
  display: flex;
  flex-direction: column;
  position: static;
  width: 100%;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px;
  align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
}

.greet-section h1 {
  padding-top: 80px;
}

.info-section {
  position: relative;
  color: #344563;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.connect {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0 0 10px 0;
}

.sociala ul {
  width: 375px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: space-between;
  position: relative;
}

.socialb ul {
  width: 375px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: space-between;
  position: relative;
}

.lang-container li {
  display: flex;
  width: 303px;
  height: 66.72px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.sociala ul li {
  padding: 0 20px 0 0;
  width: 20px;
}

.socialb ul li {
  padding: 0 20px 0 0;
  width: 20px;
}

/* Project Pages */

.works-wrapper ul {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20% 20% 20% 20%;
  grid-row-gap: 125px;
  background-color: #e5e5e5;
  justify-items: center;
  align-items: center;
}

.project-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 80%;
  height: 650px;
  top: 114px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.desktoppic {
  display: none;
}

.desktop {
  display: none;
}

.projectpic {
  position: relative;
  top: 16px;
}

.project-1 h2 {
  text-align: left;
  position: relative;
  width: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.canopy-flex ul {
  position: relative;
  width: 100%;
  display: flex;
  list-style: none;
  background-color: #fff;
}

.canopy-flex ul li {
  padding: 0 10px 0 0;
}

.canopy {
  width: 55px;
  height: 16px;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

ul .back-end {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #484f5a;
}

.year {
  width: 29px;
  height: 16px;
  top: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #484f5a;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0;
}

.primary-read {
  width: 295px;
  height: 76px;
  top: 92px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

ul .small-button-wrapper {
  display: flex;
  align-items: center;
  margin: 12px 0;
  height: auto;
  background-color: #fff;
}

.small-button {
  width: auto;
  height: auto;
  border: none;
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  padding: 4px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-right: 12px;
  align-content: center;
}

.small-button2 {
  display: none;
}

.large-button {
  align-items: center;
  padding: 12px;
  position: relative;
  width: auto;
  height: 48px;
  top: 16px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-bottom: 50px;
}

.large-button:hover {
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.large-button:active {
  background: #2230d2;
  color: #396df2;
}

.large-button:disabled {
  background: #e5e5e5;
}

/* About Me */
.about-me {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100vh;
  border-bottom-left-radius: 6rem;
}

.about-me h2 {
  position: relative;
  width: 200px;
  height: 101px;
  padding-top: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

.qualification {
  display: flex;
  flex-direction: column;
}

.cat-wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.cat-wrapper li p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-text {
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.seperator {
  content: "";
  border-bottom: 1px solid #ccc;
  padding-top: 0.5rem;
}

#form {
  display: flex;
  flex-direction: column;
}

#contact-me {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-top-left-radius: 6rem;
  margin-top: 500px;
  background: #6070ff url(../images/contact.svg) 100% 10% no-repeat;
}

#contact-me h2 {
  width: 327px;
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  align-self: center;
  text-align: center;
  padding: 100px 0 0 0;
  margin-bottom: 10px;
}

#contact-me p {
  width: 327px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  align-self: center;
  margin: 0;
}

.input-box {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 15px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  align-self: center;
  width: 100%;
}

#contact-me ul {
  align-self: center;
}

.input-box-area {
  height: 130px;
  margin-bottom: 0;
  font-size: 15px;
}

@media screen and (min-width: 993px) {
  body {
    width: 100%;
  }

  .navbar ul {
    width: 100%;
  }

  .flex-container {
    width: 100%;
    align-self: center;
    background: none;
  }

  header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 45px;
    z-index: 2;
    padding: 0 100px;
    background: #fff;
  }

  .menu-options {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    align-content: space-between;
    padding-right: 30px;
    transition: all 0.2s ease-in;
  }

  .greet-section {
    background: #fff url(images/desktopbg.svg);
    background-repeat: no-repeat;
    height: auto;
    border-bottom-left-radius: 6rem;
  }

  .greet-section h1 {
    margin: 200px 0 0 0;
    padding: 0 0 0 0;
    width: 900px;
    font-size: 48px;
    font-weight: bold;
    align-self: center;
  }

  .greet-section p {
    width: 900px;
    align-self: center;
    font-size: 20px;
    line-height: 28px;
  }

  .sociala {
    width: 900px;
    align-self: center;
  }

  .connect {
    margin: 0 0 0 0;
  }

  /* PROJECTS */
  .works-wrapper ul {
    grid-row-gap: 100px;
    align-content: center;
  }

  .list-wrapper {
    padding: 0 0 200px 0;
  }

  .project-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    height: 440px;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .projectpic {
    display: none;
  }

  .desktoppic {
    display: block;
    height: 400px;
  }

  .info-wrapper {
    margin: 0 0 0 48px;
  }

  .info-wrapper p {
    width: auto;
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0 0 0;
  }

  .info-wrapper h2 {
    margin: 0 0 10px 0;
    width: auto;
  }

  .list-wrapper li {
    align-self: flex-end;
    justify-self: center;
  }

  .lang-container li {
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin: 0 15px 0 0;
    padding: 0 0 0 10px;
  }

  .canopy-flex ul li {
    width: auto;
  }

  .small-button2 {
    display: flex;
  }

  .small-button-wrapper {
    margin-top: 0;
  }

  .large-button {
    margin: 0 0 80px 0;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }

  #about {
    flex-direction: row;
    height: auto;
    align-content: center;
    margin: 50px 0 0 150px;
    padding: 0 0 0 0;
    border-bottom-right-radius: 6rem;
  }

  .info-section {
    line-height: 24px;
  }

  .sociala ul {
    margin: 0 0 0 0;
  }

  .about-wrapper p {
    width: 447px;
  }

  .qualification {
    padding: 0 0 0 0;
    flex-direction: row;
  }

  .qualification ul {
    flex-direction: column;
    margin: 100px 0 0 50px;
  }

  .lang-container {
    flex-direction: row;
    height: auto;
    width: 600px;
  }

  .lang-container li img {
    align-self: flex-start;
  }

  .navbar ul li img {
    display: none;
  }

  .cat-wrapper li ul {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #contact-me {
    background: #6070ff url(images/contactformbackgroundshapes.svg) 100% 10% no-repeat;
    margin: 0 0 0 0;
  }

  #contact-me ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-me p {
    width: 550px;
    font-size: 20px;
    line-height: 28px;
  }

  .input-box {
    width: 430px;
    border-radius: 0;
  }
}
